/*////////////////////////////////////////////
// color
////////////////////////////////////////////*/
$primary-color:rgb(23, 141, 168);
$primarya-color:rgba(102, 199, 191, 0.9);
$primarya7-color:rgba(125, 211, 233, 0.7);
$primarya3-color:rgba(125, 211, 233, 0.3);
$primary-light-color:rgb(204, 233, 240);
$secandary-color:rgb(100, 149, 10);
$secandarya-color:rgba(130, 174, 10, 0.9);
$secandarylight-color:rgb(181, 236, 31);
$white-color: rgb(255, 255, 255);
$whitergba-color:rgba(255, 255, 255, 0.9);
$whitergba7-color: rgba(255, 255, 255, 0.7);
$gray-color: rgb(224, 224, 222);
$gray-dark-color: rgb(145, 142, 138);
$grayrgba-color: rgba(244, 244, 244, 0.9);
$grayrgba7-color:rgba(244, 244, 244, 0.7);
$header-color: rgb(66, 33, 11);
$h3-txtcolor: rgb(77, 49, 24);
$primary-text-color :rgb(63, 138, 131);
$calen-sat-color :rgb(16, 118, 165);
$calen-sun-color :rgb(197, 62, 96);
$text-color:rgb(51, 51, 51);
$border-color: rgb(93, 78, 71);
$btn-hover-color: rgb(116, 112, 108);
$border2-color:rgb(179, 179, 179);
$shadow-color: rgb(180, 180, 180);
$attention-color: rgb(214, 63, 108);
