/*////////////////////////////////////////////
// mem index
////////////////////////////////////////////*/
#mem_index {

    .sec__02,
    .sec__03 {
        padding-top: 5px;
    }

    h3 {
        margin-bottom: 20px;
        padding-bottom: 10px;
        background-position: left bottom;
        background-repeat: repeat-x;
    }

    input[type=submit] {
        border: 0 !important;
        background: transparent !important;
        cursor: pointer;
        transition: 0.3s;
        padding-top: 1px;

        &:hover {
            color: $primary-color;
        }
    }
    .row {
            padding-bottom: 50px;        
        &:first-of-type {
            margin-bottom: 0;
        }

    }

}
