
@import "color";
@import "mixin";
@import "common";
@import "admin_common";
@import "mem_index";
@import "mem_post";
@import "mem_schedule";
@import "mem_account";
@import "mem_address";
@import "mem_mypage";
@import "mem_regist";
@import "mem_about";

@import "admin_top";
@import "admin_meeting";
@import "admin_member";
@import "admin_regist";
@import "admin_room";




#adm_acc_time {
    input[type=submit] {
        padding: 2px 30px;
    }

    .total__amount {
        padding: 10px 20px;
        border-radius: 10px;
        border: 3px double $primary-color;
        width: auto;
        margin-bottom: 20px;

        p {
            font-size: 1.2em;
            color: $primary-color;
        }

    }

    .big {
        font-size: 1.6em;
        font-weight: 600;
        color: $primary-color;
    }
    .attend__now {
        dl {
        display: flex;
        margin-bottom: 20px;
        }
        dl dt {
            margin-right: 10px;
            font-weight: bold;
            width: 120px;
            white-space: nowrap;            
        }
}
}

#adm_acc_mem {
    h4 {
        padding-top: 15px;
        margin-bottom: 30px;
    }

    .acc__subtitle {
        text-align: center;

        input {
            display: block;
            position: relative;
            @include align-center;
            margin-top: 10px;
        }
    }

    table {
        margin-bottom: 50px;
    }

    .meisai {
        text-align: left;
        max-width: 500px;
        margin: 0 auto;
        position: relative;
        padding: 30px;
        background: $gray-color;
        border-radius: 10px;

        dl {
            display: flex;
            margin-bottom: 10px;

            dt {
                width: 80px;
            }

            dt,
            dd:first-of-type {
                margin-right: 15px;
            }
        }

        input[type=submit] {
            position: relative;
            @include align-center;
        }
    }
}

#mem_schedule,
#sch_detail {
    table.select__calen {
        width: 90%;

        tr th,
        tr td {
            background-color: transparent;
            font-size: 0.9em;
            font-weight: 300;
            border: none;
            padding: 2px 0;
            position: relative;
        }

        .from_to {
            text-align: left;
        }

        tr:not(:first-child) th,
        tr:not(:first-child) td {
            border-top: 1px solid rgba(168, 165, 155, 0.8);
        }

        tr:not(:first-child) th {
            border-right: 1px solid rgba(168, 165, 155, 0.8);
        }

        tr:first-child th:first-child {
            .fas {
                font-size: 0.9em;
                position: relative;

                left: 2px;
                transform: scale(0.5, 1.1);
            }
        }

        tr:first-child th {
            border: none;
            border-right: 1px solid rgba(168, 165, 155, 0.8);
            padding: 0 5px;
        }

        tr:first-child th:not(:first-child) {
            border: none;
            text-indent: 5px;

        }

        .time__table:not(:first-child) th {
            border: none;
            border-top: 1px solid rgba(168, 165, 155, 0.8);
            text-indent: 5px;

        }




    }

    form.sche__on {
        background-image: url();
        background-color: transparent;

        &:hover {
            background-image: url();
            border-radius: 4px;
            background-image: url();
        }

        input[type=submit] {
            height: 24px;
            text-align: left;
            font-size: 0.9em;
            width: 100%;
            text-indent: 23px;
            box-sizing: border-box;
            padding: 1px 2px;
            border-radius: 4px;
            background-image: url(../images/lesson_stamp.png);
            background-color: $primarya3-color;
            background-repeat: no-repeat;
            background-size: 17px auto;
            background-position: left 5px center;
            cursor: pointer;
            transition: 0.4s;
            border: none;

            &:hover {
                background-image: url(../images/lesson_stamp.png);
                background-color: $primarya7-color;
                background-size: 17px auto;
                background-repeat: no-repeat;
                background-position: left 5px center;
                color: $text-color;

                border-radius: 4px;
            }
        }
    }

    .col {
        margin-top: 30px;
        background-color: $grayrgba-color;
        border-radius: 10px;
        padding: 20px 30px 30px;

        .stamp__intro {
            text-align: center;
            font-weight: 600;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        .stamp__inner {
            display: flex;
            width: calc(100% / 3);

            dl {
                background-color: $white-color;
                border-radius: 6px;
                padding: 7px 10px 7px 8px;
                border: 1px dashed $border2-color;
                display: flex;
            }

            dl dt {
                width: auto;
            }

            dl dt figure {
                width: 30px;
                height: 28px;
                padding: 2px;
                background-color: $primary-light-color;
                ;
                overflow: hidden;
                border-radius: 4px;
                position: relative;

                img {
                    width: 25px;
                    @include centering;

                }
            }

            dl dd {
                padding-top: 4px;
                font-size: 0.9em;
            }


        }
    }
}

#mem_schedule {
    table.select__calen {
        background-position: left 96px top, right center;
        background-repeat: repeat-y, no-repeat;
        background-size: auto, contain;
    }

    .sec__02 form.time__select {
        padding-top: 10px;

        dl {
            justify-content: center;
        }
    }

    h4 {
        display: flex;
        justify-content: center;
    }

    span {
        padding: 5px 10px;
        display: inline-block;
    }

    form.prevM,
    form.nextM {
        input[type=submit] {
            left: auto;
            transform: translate(0);
            padding: 0;
            margin: 12px 0 0;
            width: 20px;
            height: 20px;
            border-radius: 15px;
            line-height: 1;
            font-size: 0.9em;
            border: none;
            background-color: $secandarya-color;
            color: $white-color;

        }

        form.sche__on {
            padding-top: 0;
        }
    }
    form dl {
        display: flex;

        justify-content: center;

        &:last-of-type {
            margin-bottom: 20px;
        }

        dt {
            margin-right: 10px;
            font-weight: bold;
            width: 120px;
            white-space: nowrap;
        }
    }
}



#adm_meeting_input,
#adm_meeting_confirm {
    form {
        text-align: center;
        background-color: $grayrgba-color;
        padding: 30px 0;
        width: calc(100% - 60px);
        border-radius: 6px;
        margin: 0 auto;

        select {
            margin-right: 10px;
            padding-right: 30px;
        }

        input[type=submit] {
            padding: 2px 15px;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                @include btn-hover;
            }
        }

        .col2 {
            text-align: left;

        }
    }

    .form__box {
        width: 90%;
        max-width: 450px;
        margin: 0 auto 30px;

        .col {
            display: flex;
            margin-left: 20px;
            margin-bottom: 20px;

            .col__text {
                padding-right: 5px;
                white-space: nowrap;
                width: 75px;
            }
        }
    }

    .form__box1 {
        display: flex;

        &:last-of-type {
            padding-bottom: 30px;
        }
    }
}

#adm_meeting_confirm,
#meeting_touroku_kanryo {
    .form__box .form__box1 .col {
        margin-left: 0;
        display: block;
    }

    dl {
        margin-bottom: 10px;

        &:last-of-type {
            margin-bottom: 10px;
        }
    }

    dl dt {
        width: 100px;
        text-align: right;
    }

    dl dd {
        font-weight: 400;
    }

}

#adm_meeting_confirm {
    .button a {
        padding: 2px 15px;
    }

    .col dl dd {
        text-align: left;
    }
}

#meeting_touroku_kanryo {
    h4 {
        color: $text-color;
        font-size: 1em;
    }

    .col {
        width: calc(100% - 100px);
        max-width: 400px;
        margin: 0 auto;
        background-color: $grayrgba-color;
        padding: 20px 30px 30px;
        border-radius: 6px;
        margin-bottom: 50px;
    }
}

#adm_meeting_input {
    .sec__02 {
        margin-bottom: 20px;
    }

    .atten {
        width: calc(100% - 100px);
        margin: 0 auto 20px;
    }

    .row1 {
        width: calc(100% - 60px);
        padding: 15px 30px;
        box-sizing: border-box;
        border-radius: 6px;
        margin: 0 auto;
        background-color: $primary-light-color;
        background-image: url(../images/lesson.png);
        background-repeat: no-repeat;
        background-position: right -50px bottom -20px;
        background-size: 40%;
        max-width: 500px;

        form {
            padding-top: 40px;
        }

        dl {
            display: flex;
            justify-content: flex-start !important;
            margin-bottom: 10px;

            dt {
                font-weight: 600;
                width: 90px;
            }

        }

        &:last-of-type {
            margin-bottom: 80px;
        }
    }
}

.attend {
    .row1 {
        margin-bottom: 50px !important;
        background-image: url(../images/people_bg.png) !important;
        background-repeat: repeat-y !important;
        background-size: 60% !important;
        background-position: top -10px right -30px !important;
    }

    .form__box {
        margin: 0 auto;
        width: calc(100% - 100px) !important;
    }

    .form__box1 {
        display: block !important;
        text-align: left;

        input[type=checkbox] {
            margin-left: 15px;
        }
    }

    .col {
        margin: 0 auto;

        form {
            max-width: 500px;
        }
    }

    .atten {
        text-align: left;
    }
}

#mem_acc {
    h4 {
        font-size: 1.4em;
        color: $secandarya-color;
        margin: 0 auto 20px;
    }

    .total__amount {
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translate(-50%, 0);
        width: calc(100% - 60px);
        max-width: 800px;
        min-height: 137px;
        text-align: center;
        padding: 20px 0;
        box-sizing: border-box;
        border-radius: 6px;
        margin: 0 auto;
        background-color: $primary-light-color;
        background-image: url(../images/banker.png), url(../images/kuaiji.png);
        background-repeat: no-repeat, no-repeat;
        background-position: right 15px bottom -5px, top 5px left;
        background-size: auto 80%, auto 60%;

        p.b {
            line-height: 1.3;
            font-size: 1.2em;
        }

        small.err {
            display: block;
            line-height: 1.2;

            &:nth-of-type(1) {
                padding-top: 5px;
            }
        }
    }

    .attend__now {
        padding-top: 150px;
    }

    form {
        padding-top: 10px;

    }

    form dl {
        display: flex;

        justify-content: center;

        &:last-of-type {
            margin-bottom: 20px;
        }

        dt {
            margin-right: 10px;
            font-weight: bold;
            width: 120px;
            white-space: nowrap;
        }
    }

    .attend__mem {
        display: flex;
        justify-content: flex-end;
        width: calc(100% - 60px);
        max-width: 800px;
        margin: 0 auto;

        &:last-of-type {
            margin-bottom: 100px;
        }

        dt {
            white-space: nowrap;
            color: $primary-color;
        }
    }

    .total__amount__per {
        font-size: 2em;
        font-weight: 600;
    }

    .col {
        background-color: $grayrgba-color;
        margin: 0 auto 50px;
        width: calc(100% - 60px);
        max-width: 800px;
        padding: 10px 30px;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .col1 {
        padding-bottom: 70px;
    }

    h5 {
        border-bottom: 2px dashed $white-color;
        font-size: 1.4em;
        padding-bottom: 5px;
        text-align: center;
        margin-bottom: 30px;
    }

    table {
        margin-top: 10px;

    }

    table tr th,
    table tr td {
        padding: 0 10px;
        background-color: $white-color;
    }

    table tr:first-child th {
        background-color: $secandarylight-color;
    }

    table tr:not(:first-child) th {
        font-weight: 300;
    }

    table tr:not(:first-child) td {
        text-align: right;
    }

    table tr:last-of-type td:nth-of-type(3) {
        background-color: $primary-color;
        color: $white-color;
        font-weight: 600;
    }

    .acc__subtitle {
        font-size: 1.1em;

        &:first-child {
            font-weight: 600;
        }
    }

    .acc__box {
        margin-bottom: 40px;

        &:last-of-type {
            margin-bottom: 80px;
        }
    }

    .row1 {
        .acc__box {
            margin-bottom: 80px;
        }
    }

    .acc__fee {
        margin: 0 auto;
        width: 400px;

    }

    .acc__pay {
        margin: 0 auto;
        width: 400px;
        text-align: center;
        border-bottom: 1px solid $border-color;

        .big {
            font-size: 2em;
            font-weight: 600;
            color: $primary-color;
        }
    }


}




#adm_item {
    .sec__02 {
        max-width: 600px;
        margin: 0 auto;
        padding-bottom: 50px;

        table tr td {
            padding: 2px 10px;
            font-size: 0.9em;
            vertical-align: top;
        }

        table tr:not(:first-child) td:first-child {
            text-align: left;
        }

        table tr:not(:first-child) td:nth-child(3) {
            text-align: right;
        }

        .col {
            margin-bottom: 50px;
        }

        .form__box {
            padding: 15px 50px 45px;
            box-sizing: border-box;
            margin-bottom: 30px;
            background-color: $grayrgba-color;
            border-radius: 6px;
            text-align: center;

            h4 {
                background-image: url();
                border-bottom: 2px dashed $white-color;
                padding-bottom: 10px;
            }

        }

        .form__box p,
        .form__box p a {
            color: $attention-color;

        }

        .form__box p a {
            border-bottom: 1px solid $attention-color;
            transition: 0.2s;

            &:hover {
                color: $primary-color;
                border-bottom: 1px solid $primary-color;
            }
        }

        dl {
            display: flex;
            margin-bottom: 20px;

            @include bp_small {
                display: block;
            }

        }

        dl:last-of-type {
            margin-bottom: 50px;
        }

        dl dt {
            margin-right: 10px;
            font-weight: bold;
            width: 120px;
            white-space: nowrap;
            text-align: left;
        }

        input[type=submit] {
            font-size: 1.1em;
            cursor: pointer;
            position: relative;
            padding: 2px 15px;
            transition: 0.4s;
            background-color: #fff;


            &:hover {
                @include btn-hover;
            }
        }

        .buttons input[type=submit] {
            left: auto;
            transform: translate(0);
            font-weight: 300;
        }

        .buttons input[type=button] {
            padding: 2px 15px;
            cursor: pointer;
            background-color: $white-color;

            &:hover {
                @include btn-hover;
            }
        }

        .buttons input:not(:last-child) {
            margin-right: 20px;
        }

        input[type=radio] {
            margin-right: 3px;
        }

        input[type=radio]:not(:first-child) {
            margin-left: 15px;
        }

        .button a {
            padding: 2px 15px;
            font-size: 1em;
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    height: 30px;
    padding-top: 3px;
    width: 100%;
    box-sizing: border-box;
    background-color: $header-color;

    p {
        text-align: center;
        color: $white-color;
    }

}

.logchk__buttons {
    position: relative;

    p a {
        display: block;
        width: 200px;
        margin: 0 auto 30px;
    }
}

@media screen and (max-width:800px) {


    section#sschedule {
        .row {
            display: block;

        }

        .row .col {
            margin: 0 auto;
        }
    }


}

@media screen and (max-width:600px) {


    #gnav {
        display: none;

    }


    #schedule .wrapper {
        background-size: 60%;
    }
}

@media screen and (max-width: 400px) {
    #index .wrapper {
        background-size: auto calc(100vh - 160px);
    }
}