* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Heebo', 'Noto Sans JP', 'Kosugi', sans-serif;
  font-weight: 300;
  color: #333333;
  font-size: 16px;
  min-height: 100vh;
  position: relative;
}

small {
  font-size: 0.9em;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  background-attachment: fixed;
}

header {
  position: fixed;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  height: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__inner {
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.header__subtitle {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #42210b;
  padding: 3px 10px 0 0;
  text-align: right;
}

.header__subtitle small {
  color: white;
  font-size: 0.8em;
}

h1 {
  position: absolute;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  height: calc(100% - 60px);
  top: 60px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

h1 a {
  display: block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 100%;
  position: relative;
  width: 100%;
  background-image: url(images/index_mainlogo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #333333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main {
  margin: 0 auto;
  padding-top: 220px;
  min-height: calc(100vh - 350px);
  width: 90%;
  max-width: 1000px;
  padding-bottom: 100px;
  position: relative;
}

@media screen and (max-width: 800px) {
  main {
    width: 95%;
  }
}

form {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

form dl dd {
  margin-bottom: 10px;
}

form input {
  padding: 2px 10px 2px 5px;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 1px 1px 1px #bdbab7;
          box-shadow: 1px 1px 1px #bdbab7;
  font-size: 1em;
  font-family: 'Heebo', 'Noto Sans JP', sans-serif;
  color: #464442;
  margin-bottom: 0;
}

form [type=submit] {
  margin-top: 10px;
  padding: 2px 0;
  border: none;
  width: 100px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: rgba(166, 221, 221, 0.7);
}

form [type=submit]:hover {
  background-color: rgba(168, 214, 54, 0.7);
}

.login__help {
  padding-top: 220px;
  width: 200px;
  margin: 0 auto;
}

.login__help p:nth-of-type(2) {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.login__help p:nth-of-type(2) a {
  background-color: rgba(166, 221, 221, 0.7);
  padding: 2px 0;
  border-radius: 4px;
  display: block;
  font-size: 1em;
  width: 100%;
  height: 100%;
  border: none;
  -webkit-box-shadow: 1px 1px 1px #bdbab7;
          box-shadow: 1px 1px 1px #bdbab7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.login__help p:nth-of-type(2) a:hover {
  background-color: rgba(168, 214, 54, 0.7);
  color: #333333;
}

.login__help p a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.login__help p a:hover {
  color: #66c7bf;
}

#index .wrapper {
  height: 100%;
}

#index .wrapper__bg {
  z-index: -1;
  position: relative;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
  position: fixed;
  background-color: rgba(244, 244, 244, 0.9);
}

#index .wrapper__bg__right {
  position: fixed;
  width: 40%;
  height: 100%;
  bottom: 0;
  right: 0;
  background-image: url(images/index_img01.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: auto calc(100vh - 90px);
}

#index .wrapper__bg__left {
  position: fixed;
  width: 40%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-image: url(images/index_img02.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto calc(100vh - 100px);
}

.index_login section {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  padding: 15px 30px 20px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  border: 3px solid white;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.index_login section .fas {
  position: relative;
  margin-right: 3px;
}

.index_login section h2, .index_login section h3 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.index_login section p, .index_login section a {
  color: white;
}

.index_login section .textcenter {
  text-align: center;
}

.index_login section p.error_list {
  color: #fda4a1;
  margin-bottom: 50px;
}

.index_login section .button a {
  display: block;
  font-size: 1.1em;
  color: #333333;
  cursor: pointer;
  position: relative;
  padding: 10px 0;
  width: 185px;
  background-color: white;
  border: 2px solid #fda4a1;
  text-align: center;
  margin: 0 auto 20px;
  border-radius: 4px;
}

.index_login section .button a:hover {
  border: 2px solid white;
  background-color: #fda4a1;
}

footer {
  position: absolute;
  bottom: 0;
  height: 30px;
  padding-top: 3px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #42210b;
}

footer p {
  text-align: center;
  color: white;
}

@media screen and (max-width: 600px) {
  #gnav {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  #index .wrapper {
    background-size: auto calc(100vh - 160px);
  }
}
/*# sourceMappingURL=index_styles.css.map */